.slide {
    height: 100vh;
  }
  
  html, body {
      margin: 0;
      height: 100vh;
      scroll-behavior: smooth;
  }
  .title {
    text-align: center;
    color: #162d67;
    font-weight: 800;
    font-size: 6vw;
}
.description {
    margin-top: 20px;
    font-size: 2vw;
    text-align: center;
    font-weight: 500;
    color: #162d67;
}

.main-bg {
    background-color:#a5d6cc
    ;
    height: 60vh;
}

.white-bg {
    background-color: #ffffff;
    height: 40vh;
}

.smallbutton{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    width: 10vw;
    height: 5vw;
    border-radius: 25px;
    border: 3px solid #24305E;
    background-color: #374785;
    font-size: 1.2vw;
    color: black;
    box-shadow: 0 7px #374785;
}

.smallbutton:hover {background-color:rgb(151, 175, 212)}
.smallbutton:active {
  background-color: gb(120, 186, 185);
  box-shadow: 0 5px #374785;
  transform: translateY(2px);
}

.startquiz {
    background-color: #f9d751;
  }

  .column {
    float: left;
    width: 33.33%;
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  .columntitle {
    padding-top: 5vh;
    text-align: center;
    font-weight: 500;
    color: #162d67;
    font-size: 3vw;
  }

  .columntext {
    padding-top: 3vh;
    text-align: center;
    font-weight: 500;
    color: #162d67;
    font-size: 1.5vw;
  }

  .quiz {
    color: #162d67;
    background-color: #a5d6cc;
  }

  .quiztitle {
    font-size: 3vw;
    text-align: center;
    padding-top: 3vw;
    padding-bottom: 3vw;
  }

  .quizquestions {
    padding-left: 15vw;
    font-size: 2vw;
    padding-bottom: 3vw;
  }

 


.grid {
    width: 80%;
    height: 75vh;
    margin: 0 auto;
    background-color: #fff;
    padding: 50px 50px 50px 50px;
    border: 2px solid #cbcbcb;
    color: #162d67; 
    
}
 
.grid h1 {
    font-family: "sans-serif";
    background-color: #a5d6cc;
    font-size: 60px;
    text-align: center;
    padding: 2px 0px;
    
}
 
#score {
    text-align: center;
    font-size: 30px;
}
 
.grid #question {
    font-family: "monospace";
    font-size: 30px;
}
 
.buttons {
    margin-top: 30px;
}
 
#btn0, #btn1, #btn2, #btn3 {
    background-color: #a5d6cc;
    width: 15vw;
    font-size: 20px;
    border: 1px solid #1D3C6A;
    margin: 10px 40px 10px 0px;
    padding: 10px 10px;
}
 
#btn0:hover, #btn1:hover, #btn2:hover, #btn3:hover {
    cursor: pointer;
    background-color: #a2d1e2;
}
 
#btn0:focus, #btn1:focus, #btn2:focus, #btn3:focus {
    outline: 0;
}
 
#progress {
    color: #2b2b2b;
    font-size: 18px;
}