{% extends 'base.html' %}

{% block head %}

<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}"/>

{% endblock %}


{% block body %}
<body style = "font-family: 'Noto Sans JP', sans-serif;">
    <section>
        <div class="main-bg">
            <div class="title" style="padding-top: 5vh;">
                EcoPlate
            </div>
            <div class="description">
                EcoPlate is a free ecological footprint tracker that determines the imapcts of your food choices.
            </div>
            <div class="description" style="padding-bottom: 3vh;">
                Start the quiz below to find out your carbon footprint from food!
            </div>
            <div class="button">
                <button class="startquiz smallbutton" input type="button" onclick="location.href='quiz.html'">START QUIZ</button>
            </div>
        </div>
    </section>
    <section>
        <div class="white-bg">
            <div class="row">
                <div class="column columntext">
                    <div class="columntitle">Carbon</div>
                    <div class="columntext" style="padding-left: 5vh;">Each meatless meal saves 8 pounds of carbon dioxide</div>
                </div>
                <div class="column columntext">
                    <div class="columntitle">Water</div>
                    <div class="columntext">Each meatless meal saves around 133 gallons of water</div>
                </div>
                <div class="column columntext">
                    <div class="columntitle">Land</div>
                    <div class="columntext" style="padding-left: 5vh; padding-right: 5vh;">Each meatless meal saves 300 square feet of land for grazing</div>
                </div>
            </div>
        </div>
    </section>
</body>

{% endblock %}